body {
  background-color: #e7e7e7;
}

#main-navigation {
  background-color: #390281;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

#all-posts {
  margin: 7rem auto;
  width: 90%;
  max-width: 60rem;
}

#all-posts h2 {
  text-align: center;
  font-size: 2rem;
  color: #2e2e2e;
  margin: 3rem 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  gap: 1.5rem;
}

.post img {
  width: 7rem;
  height: 7rem;
}

.post a {
  height: 22rem;
  transform-origin: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  background-color: white;
}
.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.post a {
  text-decoration: none;
  color: black;
  transition: all 0.2s ease;
  padding: 1rem;
}

.post a:hover,
.post a:active {
  transform: scale(1.1);
  background-color: #390281;
  color: white;
}

.post img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
}

.post h3 {
  margin: 0.25rem 0;
}

.post time {
  color: #666666;
  margin: 0.25rem;
  font-style: italic;
  font-size: 0.85rem;
}

.post:hover time,
.post:active time {
  color: white;
}
