{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Add your meta description here">
        <meta name="keywords" content="Add your meta keywords here">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static 'app/includes/post.html' %}" />
        <link rel="stylesheet" href="{% static 'app.css' %}">
        <header id="main-navigation">
            <h1>
                <a href="">Ankur's Blog</a>
            </h1>
            <nav>
                <a href="">All posts</a>
            </nav>
        </header>
        {% block css %}
        {% endblock css %}
        {% block js %}
        {% endblock js %}
    </head>
    <body>
        {% block body %}
        {% endblock body %}
    </body>
</html>
